# maven noise
target

# osx noise
.DS_Store
profile

#IntelliJ Idea noise
.idea
*.iws
*.ipr
*.iml

#Eclipse
.settings
.classpath
.project

# TeX build noise
*.aux
*.bbl
*.blg
*.log
*.out
*.tex~
*.thm
*.toc
